@import './null_style.scss';

/*Функция для адаптации под широкие экраны*/
@function -rem($px){
    @return $px / 16 + rem;
}

/*Миксин для адаптации шрифтов*/
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/*Шрифт по-умолчанию под большие экраны(адаптация блоков через rem)*/
@media (min-width: 2000px){
    html, body{
        font-size: 20px; 
    }
}
@media (min-width: 2500px){
    html, body{
        font-size: 25px;
    }
}
@media (min-width: 3000px){
    html, body{
        font-size: 30px; 
    }
}
@media (min-width: 3700px){
    html, body{
        font-size: 60px; 
    }
}

body{
    font-family: 'Roboto', sans-serif;
}

.container {
    width: -rem(1230);
    padding: 0px -rem(15);
}

.scroll__hidden{
    overflow: hidden;
}

.circle-btn{
    width: -rem(140);
    height: -rem(140);
    text-align: center;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    &:hover{
        background-color: #747474;
        cursor: pointer;
        transform: scale(0.9, 0.9);
    }
}
@media (max-width: 767px){
    .circle-btn{
        width: 80px;
        height: 80px;
    }
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: -rem(115);
    &__burger, &__burger-menu{
        display: none;
    }
    &__container{
        position: relative;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        padding-top: -rem(30);
    }
    &__left {
        & p:first-child {
            margin-bottom: -rem(15);
            @include adaptiv-font(18, 14);
            line-height: 1.1;
            color: #747474;
        }
        & p:last-child {
            @include adaptiv-font(18, 14);
            line-height: 1.1;
            color: #000000;
        }
    }
    &__nav {
        & ul{
            display: flex;
            & li{
                margin-left: -rem(20);
            }
            & li:first-child{
                margin-left: 0px;
            }
            & a{
                font-weight: 700;
                @include adaptiv-font(18, 14);
                line-height: 1.1;
                color: #000000;
                transition: all 0.2s linear;
                text-transform: capitalize;
                &:hover{
                    color: #747474;
                }
            }
        }
    }
    &__logo {
        position: absolute;
        top:-rem(59);
        left:50%;
        transform:translatex(-50%);
        width: -rem(410);
        height: -rem(234);
        & img{
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
}
@media (max-width: 767px){
    .header{
        &__nav{
            display: none;
        }
        &__content{
            width: fit-content;
        }
        &__logo{
            width: 55%;
            top:-rem(50);
        }
        &__burger-btn{
            width: 30px;
            height: 30px;
            z-index: 2;
            overflow: hidden;
            & span{
                width: 30px;
                height: 2px;
                position: absolute;
                top:50%;
                right: 0%;
                transform: translate(-50%, -50%);                    
                background-color: #222222;
                transition: all 0.5s;
                z-index: 5;
            }
            & span:nth-of-type(2) {
                top: calc(50% - 10px);
            }
            & span:nth-of-type(3) {
                top: calc(50% + 10px);
            }
            &-active span:nth-of-type(1) {
                display: none;
            }
            &-active span:nth-of-type(2) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(45deg);  
            }
            &-active span:nth-of-type(3) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(-45deg); 
            }
        }
        &__burger-menu{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            z-index: 4;
            background: #d1d0d0;
            transform: translateY(-100%);
            transition: transform 0.5s;
            & li {
                padding-bottom: 30px;
                & a{
                    color: #000000;
                }
            }
            & img{
                position: absolute;
                top: 4%;
                left: 4%;
            }
            &-active {
                transform: translateY(0);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                z-index: 4;
                & li {
                    padding-bottom: 30px;
                    & a{
                        color: #000000;
                    }
                }
            }
        }
    }
}

.main {
    display: flex;
    padding-bottom: -rem(129);
    &__image {
        flex: 0 0 50%;
        height: -rem(634);
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__content {
        margin: -rem(102) -rem(90) 0px -rem(59);
        & h1{
            font-weight: 700;
            @include adaptiv-font(60, 30);
            text-transform: uppercase;
            margin-bottom: -rem(91);
            & span{
                font-weight: 400;
                @include adaptiv-font(50, 20);
                line-height: 1.2;
                letter-spacing: -rem(1);
            }
        }
    }
    &__btn p{
        display: block;
        @include adaptiv-font(14, 10);
        line-height: 1.4;
        letter-spacing: -rem(1);
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
@media (max-width: 767px){
    .main {
        padding-bottom: 60px;
        flex-direction: column;
        align-items: center;
        &__content {
            margin: 30px 15px 0px;
            & h1{
                margin-bottom: 30px;
            }
        }
        &__btn {
            margin: 0 auto;
        }
    }
    
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: -rem(119);
    &__text {
        margin: 0px -rem(10) -rem(47);
        text-align: center;
        @include adaptiv-font(27, 19);
        line-height: 1.2;
        text-transform: uppercase;
        & span{
            @include adaptiv-font(22, 14);
        }
    }
    &__img {
        max-width: -rem(1020);
        max-height: -rem(94);
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@media (max-width: 767px){
    .partners{
        padding-bottom: -rem(60);
        &__text{
            margin-bottom: 30px;
        }
    }
}

.perfect {
    display: flex;
    justify-content: center;
    padding-bottom: -rem(160);
    & h2{
        @include adaptiv-font(54, 26);
        line-height: 1.5;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: -rem(32);
        & span{
            font-weight: 700;
            @include adaptiv-font(60, 30);
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__left {
        flex: 0 0 63%;
        & p{
            width: -rem(377);
            @include adaptiv-font(19, 15);
            line-height: 1.3;
            color: #747474;
            margin-bottom: -rem(21);
        }
    }
    &__right {
        margin-top: -rem(220);
        flex: 1 0 31%
    }
    & ul {
        & li{
            display: flex;
            justify-content: space-between;
            margin-bottom: -rem(10);
            @include adaptiv-font(19, 15);
            line-height: 1.3;
            color: #747474;
            text-transform: capitalize;
        }
    }
    & ul:first-child, & ul:last-child{
        & li:first-child{
            font-weight: 700;
            @include adaptiv-font(20, 16);
            line-height: 1.5;
            text-transform: uppercase;
            color: #000000;
            padding-bottom: -rem(16);
            margin-bottom: -rem(20);
            border-bottom: -rem(1) solid #000000;
        }
    }
    & ul:first-child{
        & li:last-child{
            margin-bottom: -rem(70);
        }
    }
}
@media (max-width: 767px){
    .perfect {
        padding-bottom: 70px;
        &__content{
            flex-direction: column;
        }
        &__right {
            margin-top: -rem(20);
        }
        &__left {
            & p{
                width: 100%
            }
        }
    }
}

.works {
    padding-bottom: -rem(110);
    & h2{
        @include adaptiv-font(50, 20);
        line-height: 1.4;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        margin-bottom: -rem(20);
        & span{
            font-weight: 700;
            @include adaptiv-font(60, 30);
            line-height: 1.2;
        }
    }
    &__columns {
        display: flex;
        justify-content: center;
        padding: 0px -rem(15);
    }
    &__left {
        margin-right: -rem(20);
        min-width: -rem(470);
    }
    &__img{
        width: 100%;
        margin-bottom: -rem(40);
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;   
        }
    }
    &__item {
        & p{
            @include adaptiv-font(18, 14);
            line-height: 1.3;
            text-align: center;
            color: #747474;
            margin-bottom: -rem(20);
        }
    }
    &__title {
        font-weight: 700;
        @include adaptiv-font(22, 18);
        line-height: 1.3;
        text-align: center;
        text-transform: uppercase;
    }
    &__right {
        min-width: -rem(470);
        & div:first-child{
            margin-top: -rem(117);
        }
    }
}
@media (max-width: 1024px){
    .works{
        padding-bottom: -rem(60);
        &__img{
            margin-bottom: -rem(20);
        }
        &__columns {
            flex-direction: column;
        }
        &__right div:first-child{
            margin-top: 0px;
        }
        &__left {
            margin-right: 0px;
        }
        &__left, &__right{
            min-width: 100%;
        }
        &__item {
            & p{
                margin-bottom: 40px;
            }
        }
    }
}

.improve {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: -rem(150);
    &__content {
        margin: 0px -rem(15) 0px -rem(191);
        flex: 0 0 30%;
        & h2{
            font-weight: 700;
            @include adaptiv-font(48, 18);
            line-height: 1.1;
            letter-spacing: -rem(1);
            text-transform: uppercase;
            margin-bottom: -rem(43);
            & span{
                font-weight: 400;
            }
        }
    }
    & div:last-child h3{
        margin-top: -rem(40);
    }
    &__content-block {
        & h3{
            display: flex;
            align-items: center;
            font-weight: 700;
            @include adaptiv-font(22, 18);
            line-height: 1.3;
            text-transform: uppercase;
            margin-bottom: -rem(16);
            & span{
                font-weight: 400;
                @include adaptiv-font(17, 13);
                letter-spacing: -rem(1);
                margin-left: -rem(10);
            }
        }
        & p{
            @include adaptiv-font(19, 15);
            line-height: 1.3;
            color: #747474;
        }
    }
    &__img {
        flex: 0 0 48%;
        & img{
            width: 100%
        }
    }
}
@media (max-width: 1023px){
    .improve {
        &__content {
            margin-left: 10px;
            flex: 0 0 48%;
        }
        &__img {
            flex: 0 1 50%;
        }
    }
}
@media (max-width: 767px){
    .improve{
        padding-bottom: 60px;
    }
}

.swiper {
    padding: 0px -rem(2);
    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        @include adaptiv-font(60, 30);
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: -rem(120);
        & span{
            font-weight: 400;
            letter-spacing: -rem(1);
            @include adaptiv-font(42, 20);
            margin: 0px -rem(10);
        }
    }
    &-slide {
        padding: -rem(39) -rem(49) -rem(21);
        border: -rem(1) solid #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -rem(67);
        opacity: 0.3;
        transition: opacity 0.5s ease-in-out;
        &-active{
            opacity: 1;
        }
    }
    &-pagination-bullet{
        display: inline-block;
        width: -rem(10);
        height: -rem(10);
        background-color: #000000;
        border-radius: 0px;
        &:hover{
            background-color: #00000083;
        }
    }
    &__text {
        margin-bottom: -rem(29);
        @include adaptiv-font(20, 16);
        line-height: 1.3;
        text-align: center;
    }
    &__img {
        max-width: -rem(80);
        max-height: -rem(80);
        margin-bottom: -rem(20);
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__name, &__proff{
        @include adaptiv-font(17, 13);
        line-height: 1.3;
        text-transform: uppercase;
        margin-bottom: -rem(5);
    }
    &__proff {
        text-transform: capitalize;
        margin-bottom: -rem(35);
    }
}
@media (max-width: 767px){
    .swiper__title{
        margin-bottom: 50px;
    }
}

.skills {
    padding: -rem(105) 0px -rem(134);
    &__content{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #000000;
        flex-wrap: wrap;
    }
    &__left {
        flex: 0 1 50%;
        margin: -rem(20) auto;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: 700;
        @include adaptiv-font(60, 40);
        line-height: 1.2;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-bottom: -rem(94);
        & span{
            padding: 0px -rem(11);
            font-weight: 400;
            @include adaptiv-font(42, 20);
            letter-spacing: -rem(1);
        }
    }
    &__text {
        @include adaptiv-font(15, 12);
        line-height: 1.3;
        color: rgba(255, 255, 255, 0.7);
    }
    & ul, &__text{
        width: 59%;
    }
    & li:first-child::after{
        content: '';
        display: block;
        margin: -rem(10) 0px -rem(30);
        width: 80%;
        height: -rem(1);
        background-color: #FFFFFF;
    }
    & li:nth-child(2)::after{
        content: '';
        display: block;
        margin: -rem(10) 0px -rem(30);
        width: 41%;
        height: -rem(1);
        background-color: #FFFFFF;
    }
    & li:nth-child(3)::after{
        content: '';
        display: block;
        margin: -rem(10) 0px -rem(30);
        width: 70%;
        height: -rem(1);
        background-color: #FFFFFF;
    }
    & li:last-child::after{
        content: '';
        display: block;
        margin: -rem(10) 0px -rem(15);
        width: 100%;
        height: -rem(1);
        background-color: #FFFFFF;
    }
    & li p{
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: 1.25;
        letter-spacing: -rem(1);
        text-transform: uppercase;
        @include adaptiv-font(18, 14);
    }
    &__right {
        flex: 0 0 50%;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
@media (max-width: 767px){
    .skills {
        padding: 45px 0px 60px;
        &__left, &__right{
            flex: 0 0 100%
        }
        &__title {
        margin-bottom: 50px;
        }
    }
}

.facts {
    display: flex;
    justify-content: center;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        display: flex;
        align-items: center;
        @include adaptiv-font(37, 17);
        line-height: 1.2;
        text-align: center;
        letter-spacing: -rem(1);
        text-transform: uppercase;
        margin-bottom: -rem(65);
        & span{
            font-weight: 700;
            @include adaptiv-font(48, 28);
            line-height: 1.1;
            margin-right: -rem(10);
        }
    }
    &__elements {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -rem(185);
        & div:last-child {
            margin-right: 0px;
        }
    }
    &__element {
        display: flex;
        justify-content: space-between;
        margin: -rem(30) -rem(10) -rem(30) 0px;
    }
    &__img {
        width: -rem(60);
        height: -rem(60);
        margin-right: -rem(5);
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__num {
        font-weight: 700;
        @include adaptiv-font(53, 33);
        text-transform: uppercase;
    }
    &__label {
        @include adaptiv-font(19, 15);
        line-height: 1.3;
        color: #747474;
    }
}
@media (max-width: 767px){
    .facts__elements{
        margin-bottom: 60px;
    }
    .facts__element {
        min-width: 40%;
        justify-content: flex-start;
    }
}
@media (max-width: 393px){
    .facts__element {
        min-width: 100%;
    }
    .facts__elements {
        & div:last-child {
            margin-right: 10px;
        }
    }
}

.blog {
    display: flex;
    justify-content: center;
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -rem(50);
    }
    &__header-title {
        display: flex;
        align-items: center;
        @include adaptiv-font(57, 37);
        line-height: 1.3;
        letter-spacing: -rem(1);
        text-transform: uppercase;
        & span{
            @include adaptiv-font(60, 40);
            font-weight: 700;
            margin-right: -rem(25);
        }
    }
    &__header-btn {
        @include adaptiv-font(14, 12);
        line-height: 1.4;
        text-align: center;
        letter-spacing: -rem(1);
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__carts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: -rem(40);
        margin-bottom: -rem(129);
    }
    &__cart {
        max-width: -rem(373);
    }
    &__cart-img {
        max-width: -rem(373);
        height: auto;
        margin-bottom: -rem(40);
        overflow: hidden;
        & img{
            width: 100%;
            height: 100%;
            transition: all 0.3s linear;
            &:hover{
                transform: scale(1.2, 1.2);
            }
        }
    }
    &__cart-btn {
        display: inline-block;
        padding: -rem(7) -rem(16);
        font-weight: 700;
        font-size: -rem(12);
        line-height: 1.5;
        letter-spacing: -rem(1);
        text-transform: uppercase;
        border: -rem(1) solid #000000;
        border-radius: -rem(20);
        margin-bottom: -rem(20);
    }
    &__cart-text {
        font-weight: 700;
        @include adaptiv-font(26, 16);
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: -rem(35);
    }
    &__cart-date {
        @include adaptiv-font(17, 13);
        line-height: 1.3;
        color: #8F8F8F;
    }
}
@media (max-width: 767px){
    .blog__carts{
        margin-bottom: 60px;
    }
}

.talk {
    display: flex;
    justify-content: center;
    background-color: #000000;
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text-title {
        display: flex;
        align-items: center;
        margin: -rem(98) 0px -rem(44);
        @include adaptiv-font(66, 46);
        line-height: 1.4;
        letter-spacing: -rem(1);
        text-transform: uppercase;
        color: #FFFFFF;
        & span{
            margin-right: -rem(30);
            font-weight: 700;
            @include adaptiv-font(94, 64);
            line-height: 1;
        }
    }
    &__text-subtitle {
        @include adaptiv-font(21, 17);
        line-height: 1.1;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: -rem(95);
    }
    &__btn {
        background-color: #FFFFFF;
        @include adaptiv-font(14, 12);
        line-height: 1.4;
        text-align: center;
        letter-spacing: -rem(1);
        text-transform: uppercase;
    }
}
@media (max-width: 767px){
    .talk{
        &__content{
            flex-direction: column;
            position: relative;
        }
        &__text-title{
            margin-top: 50px;
        }
        &__btn{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: -rem(74) 0px -rem(60);
    }
    &__header-logo {
        width: -rem(110);
        height: -rem(63);
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__header-socials img{
        width: -rem(15);
        height: -rem(15);
        margin-left: -rem(30);
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 10;
        margin-bottom: -rem(30);
    }
    &__left {
        min-width: 160px;
        & p {
            @include adaptiv-font(19, 15);
            line-height: 1.3;
            color: #747474;
        }
        & p:nth-child(4){
            margin-bottom: -rem(40);
        }
    }
    &__title {
        font-weight: 700;
        @include adaptiv-font(20, 16);
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: -rem(30);
    }
    &__btn {
        display: inline-block;
        padding: -rem(16) -rem(28);
        border-radius: -rem(40);
        background-color: #000000;
        color: #FFFFFF;
        font-weight: 700;
        @include adaptiv-font(15, 12);
        line-height: 1.4;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        transition: .3s;
        z-index: 1;
        &::before{
            content: '';
            width: 0;
            height: 300%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background: #747474;
            transition: .5s ease;
            display: block;
            z-index: -1;
        }
        &:hover {
            color: #000000;
            cursor: pointer;
            transform: scale(1.1, 1.1);
        }
        &:hover::before {
            width: 105%;
        }
    }
    &__center{
        text-align: center;
        & li{
            margin-bottom: -rem(15);
        }
        & a {
            @include adaptiv-font(18, 14);
            line-height: 1.3;
            color: #000000;
            transition: all 0.2s linear;
            &:hover{
                color: #747474;
            }
        }
    }
    &__right {
        & p {
            @include adaptiv-font(19, 15);
            line-height: 1.3;
            color: #747474;
        }
    }
    &__rights {
        text-align: center;
        @include adaptiv-font(17, 13);
        line-height: 1.3;
        color: #747474;
        margin-bottom: -rem(25);
    }
}
@media (max-width: 767px){
    .footer{
        &__header{
            flex-direction: column;
            margin: 30px 0px;
            &-logo{
                margin-bottom: 20px;
            }
        }
        &__content {
            flex-direction: column;
        }
        &__center{
            text-align: start;
            margin: 30px 0px;
            & ul{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}